/* REGOLE GENERALI */
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image:url(../immagini/background-pagina.png);
}
/* STRUTTURA DELLA PAGINA */
#container {
  margin: 0 auto;
  width: 80%;
  font-family: 'Roboto';
}
/* STRUTTURA MAIN HEADER */
#main-header {
border: 7px solid white;
margin: 15px 0 15px 0;
background-image: url(../immagini/background-banner.jpeg);
background-position: center;
background-size: cover;
font-family: 'Montserrat';
}

.hero {
  margin: auto;
  max-width: 650px;
  height: auto;
}

.hero img {
  width: 100%;

}
.hero h1 {
  text-align: center;
  color: white;
  text-transform: uppercase;
  padding-bottom: 30px;
  font-size: 30px;
}
/*STRUTTURA BARRA NAV */
#barra-nav {
  background: grey;
  text-align: center;
  margin-bottom: 20px;
  line-height: 40px;
}
/*STRUTTURA DEGLI ELEMENTI NELLA NAV */
#elementi-nav {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-shadow:
}
/*STRUTTRA ELEMENTI DELLA LISTA NAV */
#elementi-nav li {
  list-style: none;
  display: inline-block;
  padding:0 15px;
  text-transform: uppercase;
  font-family: 'Montserrat';
}
#elementi-nav li a {
  text-decoration: none;
  color: white;
}

/* STRUTTURA DELLA LARGHEZZA COLONNA */
.colonna {
  float: left;


}
/* STRUTTURA DELLA PRIMA COLONNA SINISTRA */
.colonna:nth-child(1) {
  width: 20%;
}
/* STRUTTURA DELLA SECONDA COLONNA CENTRALE */
.colonna:nth-child(2) {
  width: 50%;
  margin: 0 5%;
}
/* STRUTTURA DELLA TERZA COLONNA DESTRA */
.colonna:nth-child(3) {;
  width: 20%;
}
.box {
  padding: 10px;
  text-align: left;
  width: 100%;
  background: white;
  margin-bottom: 30px;
  border-radius: 10px;
}
.box h4 {
  padding-bottom: 20px;
  font-size: 21px;
}
.text-green p {
  color: green;
  padding-bottom:10px;
}
.fas {
  font-size: 20px;
}

/*STRUTTURA DEL FOOTER */
.main-footer {
  height: auto;
  background-color: white;
}
.main-footer span {
font-style: italic;
font-size: 20px;
margin-bottom: 20px;
text-align: center;

}
.socials li {
  padding: 0 0 0 100px;
  list-style: none;
  float: left;
  width: calc(100%/3);
  font-size: 40px;
}
/*FUNZIONE CLEARFIX */
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
