/* REGOLE GENERALI */
* {
  margin: 0;
  boxsizing: border-box;
}
div {
  border-radius: 20px;
}
/* STRUTTURA DELLA PAGINA */
#content-page {
  margin: 0 auto;
  width: 80%;
}
/* STRUTTURA MAIN HEADER */
#main-header {
height: 300px;
background-color: red;
}
/*STRUTTURA BARRA NAV */
#barra-nav {
  background: grey;
  text-align: center;
  line-height: 80px;
}
/*STRUTTURA DEGLI ELEMENTI NELLA NAV */
#elementi-nav {
  display: inline-block;
  margin: 0;
  padding: 0;
}
/*STRUTTRA ELEMENTI DELLA LISTA NAV */
#elementi-nav li {
  list-style: none;
  display: inline-block;
  padding:0 15px;
}

.container {

}
/* STRUTTURA DELLA LARGHEZZA COLONNA */
.colonna {
  width: calc(100% / 3);

}
/* STRUTTURA DELLA PRIMA COLONNA SINISTRA */
.colonna:nth-child(1) {
  float: left;
  height: 100px;
  background: orange;
}
/* STRUTTURA DELLA SECONDA COLONNA CENTRALE */
.colonna:nth-child(2) {
  float: left;
  height: 200px;
  background: black;
}
/* STRUTTURA DELLA TERZA COLONNA DESTRA */
.colonna:nth-child(3) {
  float: left;
  background: blue;
}
/*STRUTTURA DEL FOOTER */
footer {
  background: yellow;
  height: 40px;
  font-size: 40px;
}
/*FUNZIONE CLEARFIX */
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
